<h1>Employee: <%= @employee.name %></h1>
<h2>Department: <%= @employee.department.name %></h2>

<% @employee.sort_tickets.each do |ticket| %>
    <div id="employee_ticket_<%= ticket.id %>">
        <p>
            Ticket: <%= ticket.subject%>
            Age of Ticket: <%= ticket.age %>
        </p>
    </div>
<% end %>

<div id="oldest_ticket">
    <h3>Oldest Ticket: <%= @employee.oldest_ticket.subject %></h3>
</div>